# ========================================
# Dependencies
# ========================================
node_modules/

# ========================================
# Expo
# ========================================
.expo/
dist/
web-build/
expo-env.d.ts

# ========================================
# Generated native folders (Managed Expo)
# ========================================
/android
/ios

# ========================================
# Android / iOS sensitive files
# ========================================
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.orig.*

# ========================================
# Kotlin / Gradle
# ========================================
.kotlin/

# ========================================
# Metro
# ========================================
.metro-health-check*

# ========================================
# Debug logs
# ========================================
npm-debug.*
yarn-debug.*
yarn-error.*

# ========================================
# macOS
# ========================================
.DS_Store

# ========================================
# Environment files
# ========================================
.env
.env.*
.env*.local
!.env.example

# ========================================
# TypeScript
# ========================================
*.tsbuildinfo

# ========================================
# Other
# ========================================
app-example
medicare-adba7-firebase-adminsdk-fbsvc-2a466761da.json