# ========================================
# Dependencies
# ========================================
node_modules/

# ========================================
# Expo
# ========================================
.expo/
dist/
web-build/
expo-env.d.ts

# ========================================
# Generated native folders
# ========================================
/ios
/android

# 🔓 فك الحجب تدريجيًا لمسار Firebase
!android/
!android/app/
!android/app/google-services.json

# ========================================
# Android / iOS sensitive files
# ========================================
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.orig.*

# ========================================
# Kotlin / Gradle
# ========================================
.kotlin/

# ========================================
# Metro
# ========================================
.metro-health-check*

# ========================================
# Debug logs
# ========================================
npm-debug.*
yarn-debug.*
yarn-error.*

# ========================================
# macOS
# ========================================
.DS_Store

# ========================================
# Environment files
# ========================================
.env
.env.*
.env*.local
!.env.example

# ========================================
# TypeScript
# ========================================
*.tsbuildinfo

# ========================================
# Other
# ========================================
app-example
